<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta name="author" content="Kenner Kliemann">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel='stylesheet' type='text/css'>
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
  </head>

  <body style="padding-top: 60px;">

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sinatra Template</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


  <div class="container">

    <section id="errors">
      <%if @error then %>
        <div class="alert alert-error"><%=@error%></div>
      <% end %>
    </section>

    <section class="row-fluid">

      <%= yield %>

    </section>

    <section id="footer">
      <%= erb :footer %>
    </section>

  </div>

  <!-- JS -->
  <script src="vendor/jquery-1.10.2.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script async src="//www.google.com/jsapi"></script>

  </body>
</html>
